<div class="page-wrapper" style="min-height: 342px;">
  <div class="content container-fluid">
		<div class="row">
			<div class="col-sm-8"> 
				<h4 class="page-title">Edit Profile</h4>
			</div>
		</div>
		<%= form_with(model: @user, local: true) do |form| %>
			<div class="card-box">
				<h3 class="card-title">Basic Informations</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="profile-img-wrap">
							<img class="inline-block" src="<%= current_user.photo.url(:small) %>" alt="user">
							<div class="fileupload btn btn-default">
								<span class="btn-text">edit</span>
								<!-- <input class="upload" type="file"> -->
								<!-- <input class="upload" type="file" name="user[photo]"> -->
								<%= form.file_field :photo, class: "upload" %>
							</div>
						</div>
						<div class="profile-basic">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label"> First Name</label>
										<%= form.text_field :firstname, class: "form-control floating" , required: "true" %>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Last Name</label>
										<%= form.text_field :lastname, class: "form-control floating", required: "true" %>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Birth Date</label>
										<div class="cal-icon">
											<%= form.text_field :bod, class: "form-control floating datetimepicker", required: "true" %>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus">
										<label class="control-label">Gendar</label>
										<%#= form.collection_select :gender, User::GENDER, :to_s, :humanize, :class =>"select form-control floating select2-hidden-accessible" , :tabindex =>"-1", :'aria-hidden'=> "true" %>
										<%= form.collection_select(:gender, User::GENDER, :to_s, :humanize, {:prompt=>true}, {:class=>'select form-control floating select2-hidden-accessible'}) %>

											<!-- <select class="select form-control floating select2-hidden-accessible" tabindex="-1" aria-hidden="true">
											<option value="">Select Gendar</option>
											<option value="">Male</option>
											<option value="">Female</option>
											</select>

											<span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-hvhf-container"><span class="select2-selection__rendered" id="select2-hvhf-container" title="Select Gendar">Select Gendar</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="card-box">
				<h3 class="card-title">Contact Informations</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address</label>
							<%= form.text_field :address, class: "form-control floating", required: "true" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">State</label>
							<%= form.text_field :state, class: "form-control floating", required: "true" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Country</label>
							<%= form.text_field :country, class: "form-control floating", required: "true" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Pin Code</label>
							<%= form.text_field :pincode, class: "form-control floating", required: "true" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Phone Number</label>
							<%= form.text_field :phone_number, class: "form-control floating", required: "true" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Designation</label>
							<%= form.text_field :designation, class: "form-control floating", required: "true" %>
						</div>
					</div>
				</div>
			</div>
		
			<div class="card-box">
				<h3 class="card-title">Notification Informations</h3>
				<ul class="list-group">
					<li class="list-group-item">
						Notification with email
						<div class="material-switch pull-right">
							<!-- <input id="staff_module" type="checkbox"> -->
							<!-- <input type="checkbox" value="1" checked="checked" name="user[is_turn_on]"> -->
							<%= form.check_box :is_turn_on , id: "staff_module" %>
							
							<label for="staff_module" class="label-success"></label>
						</div> 
					</li>
				</ul>
			</div>
		<!-- 	<div class="card-box">
				<h3 class="card-title">Education Informations</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Institution</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Subject</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Starting Date</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Complete Date</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Degree</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Grade</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
				</div>
				<div class="add-more">
					<a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Institute</a>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Experience Informations</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Company Name</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Location</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Job Position</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Period From</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Period To</label>
							<input type="text" class="form-control floating">
						</div>
					</div>
				</div>
				<div class="add-more">
					<a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Add More Experience</a>
				</div>
			</div> -->
			<div class="text-center m-t-20">
				<!-- <button class="btn btn-primary btn-lg" type="button">Save &amp; update</button> -->
				<%= form.submit "Save & update",:class=>"btn btn-primary btn-lg" %>
			</div>
		<% end %>
	</div>
	<div class="notification-box">
		<div class="msg-sidebar notifications msg-noti">
			<div class="topnav-dropdown-header">
				<span>Messages</span>
			</div>
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 218px;"><div class="drop-scroll msg-list-scroll" style="overflow: hidden; width: auto; height: 218px;">
				<ul class="list-box">
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">R</span>
								</div>
								<div class="list-body">
									<span class="message-author">Richard Miles </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item new-message">
								<div class="list-left">
									<span class="avatar">J</span>
								</div>
								<div class="list-body">
									<span class="message-author">John Doe</span>
									<span class="message-time">1 Aug</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">T</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Tarah Shropshire </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">M</span>
								</div>
								<div class="list-body">
									<span class="message-author">Mike Litorus</span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">C</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Catherine Manseau </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">D</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Domenic Houston </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">B</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Buster Wigton </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">R</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Rolland Webber </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">C</span>
								</div>
								<div class="list-body">
									<span class="message-author"> Claire Mapes </span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">M</span>
								</div>
								<div class="list-body">
									<span class="message-author">Melita Faucher</span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">J</span>
								</div>
								<div class="list-body">
									<span class="message-author">Jeffery Lalor</span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">L</span>
								</div>
								<div class="list-body">
									<span class="message-author">Loren Gatlin</span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="chat.html">
							<div class="list-item">
								<div class="list-left">
									<span class="avatar">T</span>
								</div>
								<div class="list-body">
									<span class="message-author">Tarah Shropshire</span>
									<span class="message-time">12:28 AM</span>
									<div class="clearfix"></div>
									<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div><div class="slimScrollBar" style="background: rgb(135, 135, 135); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 751px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
			<div class="topnav-dropdown-footer">
				<a href="chat.html">See all messages</a>
			</div>
		</div>
	</div>
</div>