<div class="page-wrapper" style="min-height: 339px;">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">Projects</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        <% if can? :create, @project %> 
          <a href="<%= new_project_path(@project)%>" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Create Project</a>
        <% end %>
      </div>
    </div>
    <div class="row filter-row">
      <%= form_tag projects_path, :method => 'get' do %>
        <div class="col-sm-8 col-xs-6">  
          <div class="form-group form-focus">
            <label class="control-label">Project Name</label>
            <%= text_field_tag :search, params[:search] ,class: "form-control floating" %>
          </div>
        </div>
        <div class="col-sm-4 col-xs-6">  
          <%= submit_tag "Search", :name => nil,class: "btn btn-success btn-block" %> 
        </div>
      <% end %>      
    </div>
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-lg-3 col-sm-4">
          <div class="card-box project-box">
            <div class="dropdown profile-action">
              <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="<%= edit_project_path(project) %>" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                <li><a href="<%= project_path(project) %>" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
              </ul>
            </div> 
            <h4 class="project-title"><a href="<%= project_path(project) %>"><%= project.name %></a></h4>
            <small class="block text-ellipsis m-b-15">
              <span class="text-xs"><%= project.tasks.where("status != ? ", "done" ).count %>
              </span> <span class="text-muted">open tasks, </span>
              <span class="text-xs"><%= project.tasks.where(status: "done").count %>
              </span> <span class="text-muted">tasks completed</span>
            </small>
            <p class="text-muted">
              <%= project.description %>
            </p>
            <div class="pro-deadline m-b-15">
              <div class="sub-title"> 
                Deadline:
              </div>
              <div class="text-muted">
                <%= project.deadline.strftime("%d %b, %Y") %>
              </div>
            </div>
            <div class="project-members m-b-15">
              <div>Project Leader :</div>
              <ul class="team-members">
                <li>
                  <a href="#" data-toggle="tooltip" title="" data-original-title="<%= full_name(User.find(project.created_by_id)) %>">
                    <img src="<%= User.find(project.created_by_id).photo.url(:small) %>" alt="<%= full_name(User.find(project.created_by_id)) %>">
                  </a>
                </li>
              </ul>
            </div>
            <div class="project-members m-b-15">
              <div>Team :</div>
              <ul class="team-members">
                <% project.users.each do |team_mem| %>
                <li>
                  <a href="#" data-toggle="tooltip" title="" data-original-title="<%= full_name(team_mem) %>"><img src="<%= team_mem.photo.url(:small) %>" alt="<%= full_name(team_mem) %>"></a>
                </li>
                <!-- <li>
                  <a href="#" class="all-users">+15</a>
                </li> -->
              <% end %>
              </ul>
            </div>
            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
            <div class="progress progress-xs m-b-0">
              <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" style="width: 40%" data-original-title="40%"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> 