<style type="text/css">
  .sidebar ul li{
    border-bottom: none !important;
  }
</style>
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="active"> 
          <a href="<%= root_path %>">Dashboard</a>
        </li>
        <li class="submenu">
          <a href="#"><span> Tasks</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li>
              <a href="<%= tasks_path %>">Personal tasks
                <span class="badge bg-primary pull-right">
                  <%= personal_team_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= tasks_path %>">Shared tasks  
                <span class="badge bg-primary pull-right">
                  <%= shared_team_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= tasks_path %>">Clients tasks  
                <span class="badge bg-primary pull-right">
                  <%= shared_team_cnt(current_user) %>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><span> Projects</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li>
              <a href="<%= projects_path(:key => "personal") %>">Personal projects  
                <span class="badge bg-primary pull-right">
                  <%=personal_project_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= projects_path(:key => "shared") %>">Shared projects  
                <span class="badge bg-primary pull-right">
                  <%= shared_project_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= projects_path(:key => "client") %>">Clients projects  
                <span class="badge bg-primary pull-right">
                  <%=personal_project_cnt(current_user) %>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><span> Teams</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li>
              <a href="<%= teams_path(:key => "personal") %>">Personal teams  
                <span class="badge bg-primary pull-right">
                  <%= personal_team_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= teams_path(:key => "shared") %>">Shared teams  
                <span class="badge bg-primary pull-right">
                  <%= shared_team_cnt(current_user) %>
                </span>
              </a>
            </li>
            <li>
              <a href="<%= teams_path(:key => "client") %>">Clients teams  
                <span class="badge bg-primary pull-right">
                  <%= shared_team_cnt(current_user) %>
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li> 
          <a href="<%= users_path %>">Clients</a>
        </li>
        <li class="submenu">
          <a href="#"><span> Accounts </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li><a href="estimates.html">Estimates</a></li>
            <li><a href="invoices.html">Invoices</a></li>
            <li><a href="payments.html">Payments</a></li>
            <li><a href="expenses.html">Expenses</a></li>
            <li><a href="provident-fund.html">Provident Fund</a></li>
            <li><a href="taxes.html">Taxes</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><span> Payroll </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li><a href="salary.html"> Employee Salary </a></li>
            <li><a href="salary-view.html"> Payslip </a></li>
          </ul>
        </li>
        <li> 
          <a href="worksheet.html">Timing Sheet</a>
        </li><!-- 
        <li> 
          <a href="assets.html">Assets</a>
        </li> --><!-- 
        <li> 
          <a href="activities.html">Activities</a>
        </li> --><!-- 
        <li> 
          <a href="users.html">Users</a>
        </li> --><!-- 
        <li class="submenu">
          <a href="#"><span> Reports </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li><a href="expense-reports.html"> Expense Report </a></li>
            <li><a href="invoice-reports.html"> Invoice Report </a></li>
          </ul>
        </li> --><!-- 
        <li> 
          <a href="settings.html">Settings</a>
        </li> -->
        <!-- <li class="submenu">
          <a href="#"><span> Pages </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" style="display: none;">
            <li><a href="login.html"> Login </a></li>
            <li><a href="register.html"> Register </a></li>
            <li><a href="forgot-password.html"> Forgot Password </a></li>
            <li><a href="profile.html"> Profile </a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>